<header class="header">
  <div class="container header_container">
    <div class="logo_block">
      <img src="image/logo.svg" class="logo" alt="Logo" />
      <span>{{ company_name }}</span>
    </div>
    <nav class="flex g-24 f-18 semibold">
      @for (link of links; track link.path) {
        <a
          routerLink="{{ link.path }}"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="link"
          >{{ link.text }}</a
        >
      }
    </nav>
    <div class="header_btns">
      <button class="secondary_btn">Консультация</button>
      <p-toggleswitch [(ngModel)]="darkMode" (onChange)="toggleMode($event)">
        <ng-template #handle let-checked="checked">
          @if(darkMode) {
            <fa-icon [icon]="moon"/>
          } @else {
            <fa-icon [icon]="sun"/>
          }
        </ng-template>
      </p-toggleswitch>
      <p-selectbutton [options]="themes" [(ngModel)]="theme" optionLabel="name" optionValue="value" (onChange)="changeTheme($event)" />
    </div>
  </div>
</header>
