<div class="user">
  <div class="user_header">
    <h5 class="user_header_title">{{ user.name }}</h5>
    <p class="user_header_desc">{{ user.username }}</p>
  </div>
  <div class="user_content">
    <div class="user_content_block">
      <div class="user_content_block_title">
        <h6>Контакты</h6>
        <span></span>
      </div>
      <div class="user_content_block_list">
        <div class="user_content_block_list_row">
          <p class="key">Эл. почта:</p>
          <p class="value orange">{{ user.email }}</p>
        </div>
        <div class="user_content_block_list_row">
          <p class="key">Телефон:</p>
          <p class="value">{{ user.phone }}</p>
        </div>
        <div class="user_content_block_list_row">
          <p class="key">Веб-сайт:</p>
          <p class="value orange">{{ user.website || "Неизвестно" }}</p>
        </div>
      </div>
    </div>
    <div class="user_content_block">
      <div class="user_content_block_title">
        <h6>Адрес Проживания</h6>
        <span></span>
      </div>
      <div class="user_content_block_list">
        <div class="user_content_block_list_row">
          <p class="key">Город:</p>
          <p class="value">{{ user.address.city }}</p>
        </div>
        <div class="user_content_block_list_row">
          <p class="key">Офис:</p>
          <p class="value">{{ user.address.suite || "Неизвестно" }}</p>
        </div>
        <div class="user_content_block_list_row">
          <p class="key">Индекс:</p>
          <p class="value">{{ user.address.zipcode }}</p>
        </div>
        <div class="user_content_block_list_row">
          <p class="key">Координаты:</p>
          <p class="coordinats">
            <span class="geo">{{ user.address.geo.lat }}</span>
            <span class="geo">{{ user.address.geo.lng }}</span>
          </p>
        </div>
      </div>
    </div>
    <div class="user_content_block">
      <div class="user_content_block_title">
        <h6>Место работы</h6>
        <span></span>
      </div>
      <div class="user_content_block_list">
        <div class="user_content_block_list_row">
          <p class="key">Компания:</p>
          <p class="value">{{ user.company.name }}</p>
        </div>
        <div class="user_content_block_list_row">
          <p class="key">Миссия:</p>
          <p class="value mission">{{ user.company.catchPhrase || "Неизвестно" }}</p>
        </div>
        <div class="user_content_block_list_row">
          <p class="key">Веб-сайт:</p>
          <p class="value">{{ user.company.bs || "Неизвестно" }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="user_footer">
    <button class="user_footer_btn" (click)="remove.emit(user.id)">Удалить</button>
  </div>
</div>
