<header class="header">
  <div class="container header_container">
    <div class="logo_block">
      <img src="image/logo.svg" class="logo" alt="Logo" />
      <span>{{ company_name }}</span>
    </div>
    <nav class="flex g-24 f-18 semibold">
      <a>Главная</a>
      <a>Про гида</a>
      <a>Программа тура</a>
      <a>Стоимость</a>
      <a>Блог</a>
      <a>Контакты</a>
    </nav>
    <button class="consultation_btn">Консультация</button>
  </div>
</header>
<section class="main_info">
  <div class="container main_info_container">
    <h1 class="title">Насладись прогулкой в горах <br />с командой единомышленников</h1>
    <div class="acttions_wrapper">
      <div class="actions">
        <div class="flex g-24 justify-start">
          @for (select of selects; track select.placeholder) {
            <custom-select
              [options]="select.options"
              [placeholder]="select.placeholder"
              [desc]="select.desc"
              [type]="select.type"
            ></custom-select>
          }
        </div>
        <button class="search_btn">Найти программу</button>
      </div>
    </div>
  </div>
</section>
