<section class="main_info">
  <div class="container main_info_container">
    <h1 class="title">Насладись прогулкой в горах <br />с командой единомышленников</h1>
    <div class="acttions_wrapper">
      <div class="actions">
        <div class="field">
          <select
            id="location"
            class="field_control field_control_select"
            [(ngModel)]="selectedLocation"
          >
            <option value="" disabled selected hidden>Локация для тура</option>
            @for (o of locations; track o.value) {
              <option [value]="o.value">{{ o.label }}</option>
            }
          </select>
          <label for="location" class="field_hint">выберите из списка</label>
        </div>
        <div class="field field_date">
          <input
            id="date"
            class="field_control field_control_date"
            type="text"
            [(ngModel)]="selectedDate"
            placeholder="Дата похода"
            (focus)="onDatepickerFocus($event)"
            (blur)="onDatepickerBlur($event)"
          />
          <label for="date" class="field_hint">укажите дату</label>
        </div>
        <div class="field">
          <select
            id="participants"
            class="field_control field_control_select"
            [(ngModel)]="selectedParticipants"
          >
            <option value="0" disabled selected hidden>Участники</option>
            @for (o of participants; track o.value) {
              <option [value]="o.value">{{ o.label }}</option>
            }
          </select>
          <label for="participants" class="field_hint">выберите из списка</label>
        </div>
        <button class="primary_btn" [disabled]="!canSearch()" (click)="onSearch()">
          Найти программу
        </button>
      </div>
    </div>
  </div>
</section>
<section class="our_trip">
  <div class="container our_trip_container">
    <div class="our_trip_views">
      <img class="our_trip_views_back" src="/image/mountain.png" alt="mountain" />
      <div class="our_trip_views_video">
        <img src="/image/nature.png" alt="nature" />
        <div class="play_btn">
          <fa-icon [icon]="faPlay" color="#1A3E3E" />
        </div>
      </div>
    </div>
    <div class="our_trip_wrapper">
      <div class="section_titles">
        <p class="subtitle">о нашем походе</p>
        <h5 class="title">Исследуйте все горные массивы мира вместе с нами</h5>
      </div>
      <p class="description">
        Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух
        тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат
        Вирджиния, взял одно из самых странных слов в Lorem Ipsum, "consectetur"и занялся его
        поисками в классической латинской литературе.
      </p>
      <button class="primary_btn" (click)="addSuccessMessage()">Программа тура</button>
    </div>
  </div>
</section>
<section class="offers">
  <div class="container offers_container">
    <div class="offers_wrapper">
      <div class="section_titles">
        <p class="subtitle">наше предложение</p>
        <h5 class="title">Лучшие программы для тебя</h5>
      </div>
      <p class="description">
        Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух
        тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа.
      </p>
      @for (offer of offers; track offer.title) {
        <div class="offer">
          <img src="{{ offer.icon_src }}" class="offer_icon" alt="{{ offer.title }}" />
          <div class="offer_info">
            <h6 class="offer_title">{{ offer.title }}</h6>
            <p class="offer_description">{{ offer.description }}</p>
          </div>
        </div>
      }
      <button class="primary_btn" (click)="addInfoMessage()">Стоимость программ</button>
    </div>
    <div class="offers_image">
      <img src="/image/offer_1.png" alt="first_img" />
      <img src="/image/offer_2.png" alt="second_img" />
      <img src="/image/offer_3.png" alt="third_img" />
      <img src="/image/offer_4.png" alt="forth_img" />
    </div>
  </div>
</section>
<section class="popular_tours">
  <div class="container popular_tours_container">
    <div class="section_titles">
      <p class="subtitle">по версии отдыхающих</p>
      <h5 class="title">Популярные направления</h5>
    </div>
    <div class="popular_tours_wrapper">
      @for (tour of popularTours; track tour.id) {
        <div class="popular_tour" style.background-image="url({{ tour.image_src }})">
          <div class="offer_rating">
            <fa-icon [icon]="faStar" [style]="{ color: '#F2BE22' }" class="rating_icon" />
            <span>{{ tour.rating }}</span>
          </div>
          <div class="offer_info">
            <div class="offer_text">
              <h6 class="offer_title">{{ tour.title }}</h6>
              <p class="offer_description">{{ tour.subtitle }}</p>
            </div>
            <div class="offer_price">
              <p>{{ tour.price }} $</p>
            </div>
          </div>
        </div>
      }
    </div>
    <button class="primary_btn" (click)="addWarningMessage()">Рейтинг направлений</button>
  </div>
</section>
<section class="blogs">
  <div class="container blogs_container">
    <div class="section_titles">
      <p class="subtitle">делимся впечатлениями</p>
      <h5 class="title">Блог о путешествиях</h5>
    </div>
    <div class="blogs_wrapper">
      @for (blog of blogs; track blog.id) {
        <div class="blog">
          <img src="{{ blog.image_src }}" alt="{{ blog.title }}" class="blog_image" />
          <div class="blog_wrapper">
            <h6 class="blog_title">{{ blog.title }}</h6>
            <p class="blog_description">{{ blog.content }}</p>
            <div class="blog_bottom">
              <p class="blog_date">{{ blog.date }}</p>
              <button class="blog_btn">читать статью</button>
            </div>
          </div>
        </div>
      }
    </div>
    <button class="primary_btn" (click)="addErrorMessage()">Все статьи</button>
  </div>
</section>
<section class="photo_reports">
  <div class="container photo_reports_container">
    <div class="section_titles">
      <p class="subtitle">фото-отчет</p>
      <h5 class="title">Делимся впечатлениями</h5>
    </div>
    <div class="photos">
      <img src="image/photo/1.png" alt="capadocia" />
      <img src="image/photo/2.png" alt="camera" />
      <img src="image/photo/3.png" alt="dubai" />
      <img src="image/photo/5.png" alt="beach" />
      <img src="image/photo/4.png" alt="mountains" />
      <img src="image/photo/6.png" alt="notepad" />
    </div>
    <button class="primary_btn">Наш pinterest</button>
  </div>
</section>
