.user_form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;

  .form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 200px;
  }
}

.add_btn {
  margin-top: 20px;
}
