@mixin button {
  border: none;
  border-radius: 4px;
  padding: 16px 36px;
  background-color: #1a3e3e;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.primary_btn{
  @include button();
  background-color: var(--secondary-color);
  color: var(--white-color);
}
