@use './_fonts';
@use './_normalize';

* {
  font-family: 'Nunito Sans';
}
:root {
  --primary-color: #000;
  --white-color: #fff;
  --secondary-color: #f2be22;
}

.container {
  display: block;
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
}

.f-18 {
  font-size: 18px;
}

.f-16 {
  font-size: 16px;
}

.bold {
  font-weight: 700;
}
.semi-bold {
  font-weight: 600;
}
.flex {
  display: flex;
}

.justify-start {
  justify-content: start;
}

.g-24 {
  gap: 24px;
}
