@use './_fonts';
@use './_normalize';
@use './button';

* {
  font-family: 'Nunito Sans';
  box-sizing: border-box;
  margin: 0;
}
:root {
  --primary-color: #000;
  --secondary-color: #1a3e3e;
  --white-color: #fff;
  --yellow-color: #f2be22;
  --grey-color: #f3f5f4;
}

.container {
  display: block;
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
}
.description {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}

.subtitle {
  font-weight: 400;
  font-size: 24px;
  color: var(--yellow-color);
  line-height: 20px;
  margin-bottom: 8px;
}

.title {
  font-weight: 800;
  font-size: 32px;
  line-height: 120%;
}
.f-18 {
  font-size: 18px;
}

.f-16 {
  font-size: 16px;
}

.bold {
  font-weight: 700;
}
.semi-bold {
  font-weight: 600;
}
.flex {
  display: flex;
}

.justify-start {
  justify-content: start;
}

.g-24 {
  gap: 24px;
}

.p-12 {
  padding: 12px;
}
